#root {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  align-self: flex-start;
}

/* Logo spin animation */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Card styling */
.card {
  padding: 2em;
}

/* Styling for 'read the docs' text */
.read-the-docs {
  color: #888;
}

/* Navbar styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.25rem;
  width: 100%;
  background-color: #0F1020;
  color: #FFFFFF;
  align-self: flex-start;
}

/* Grouping navbar items */
.navbar-group {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

/* Navbar logo button styling */
.navbar-logo {
  padding:0;
  margin: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

/* Adjusting logo image height */
.navbar-logo img {
  height: 2.5rem;
}

/* Separator styling */
.navbar-separator {
  width: 1px;
  height: 1.5rem;
  background-color: #ccc;
  margin: 0 0.9375rem;
}

/* Styling navbar items, actions, and sign button */
.navbar-item, .navbar-action, .navbar-sign {
  margin-right: 0.625rem;
  background: transparent;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
}

/* Adjusting navbar action image height */
.navbar-action img {
  height: 2rem;
}

/* Aligning navbar actions */
.navbar-actions {
  display: flex;
  align-items: center;
  border: none;
}

/* Updating hover effect for buttons */
button.navbar-item:hover, button.navbar-action:hover, button.navbar-sign:hover {
  background-color: #3697c749;
  border: none;
}

/* Styling for active button */
button.active {
  color: #3696C7; /* Set active button text color */
  border: none;
}
